
<section  class="mb-4 container">
    <h2 class="h1-responsive font-weight-bold text-center mx-2 my-4">Contact us</h2>
    <p class="offset-sm-1 text-center w-responsive mx-6 mb-5">Any Queries? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>
    <div class="row container">

        <div class="offset-md-2 col-md-9 mb-md-0 mb-5">
            <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
                <div class="  row">
                    <div class=" formgroup col-md-6">
                        <div class="md-form ">
                           <h2>{{Naming}}</h2>
                        </div>
                    </div>
                </div>
                <div class="  row">
                    <div class=" formgroup col-md-6">
                        <div class="md-form ">
                            <label for="message">Enter Name</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter Name" [(ngModel)]="name">
                          <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)" class="text-danger">
                             Name is required (minimum 5 characters).
                          </small>
                        </div>
                    </div>
                    <div class="formgroup col-md-6">
                        <div class="md-form ">
                            <label for="message">Ente Email</label>
                            <input type="text" class="form-control" formControlName="email">
                            <small [hidden]="myForm.controls.Email.valid || (myForm.controls.Email.pristine && !submitted)" class="text-danger">
                               Email is required (minimum 5 characters).
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="formgroup col-md-12">
                        <div class="md-form">
                            <label for="message">Enter Mobile</label>
                            <input type="text" class="form-control" formControlName="mobile">
                            <small [hidden]="myForm.controls.mobile.valid || (myForm.controls.mobile.pristine && !submitted)" class="text-danger">
                               Mobile Number is required (minimum 10 integers).
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="formgroup col-md-12">
                        <div class="md-form">
                            <label for="message">Your message</label>
                            <textarea  type="text" id="message" name="message" rows="2" class="form-control" md-textarea required></textarea> 
                        </div>
                    </div>
                </div>
            
            <div class="row">
                <div class="offset-md-5 text-center">
                 
                   <button type="submit"  style="background-color:#0073e6;font-size: x-large;" class="btn btn-block btn-primary">Send</button>
                   <div *ngFor="let event of events" class="margin-20">
                    {{ event | json }} 
                   </div>

                </div>
            </div>
           
        </form>
    </div>
    </div>
</section>


