
<div class="container">
    <div class ="text-center text-muted">
    <h1 style="color:rgb(7, 1, 1);">Hi-Tech Fitness Centre</h1>
    <h5 style="color:black;">Hiring For Trainer !!! </h5>
    <div class="an">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7sCdGdaX6YAcrfxwpqOpU_78PtSRBy82drYVx5-BS8uUxsPV-" alt="C">
    
    <br>
    
    
     <a mat-button routerLink="Place Appointment">Place Appointment</a>
    </div>
    </div>
    </div>
    
    
      <div>
        <h3>High Points </h3>
        <p> </p>
      </div>


