<html>
<body>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7sCdGdaX6YAcrfxwpqOpU_78PtSRBy82drYVx5-BS8uUxsPV-" alt="C">
<mat-toolbar color="danger" class="mat-elevation-z8">
        <mat-icon>fireplace</mat-icon>
    <span><h1>Hi-TechFitness Centre</h1></span>
    <mat-icon>fireplace</mat-icon>
    
<div class="spacer"></div>
<a mat-button routerLink="Home">Home</a>
<a mat-button routerLink="Place Appointment">Place Appointment</a>
<a mat-button routerLink="View Appointment">View Appointment</a>
<a mat-button routerLink="Contact Us">Contact Us</a>
</mat-toolbar>
</body>
<html>
